.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#hobbie1 {
  animation: tilt_hobbie_icon 3s ease-in-out infinite;
  animation-delay: 0.5s;
  transform: rotate(-7.5deg);
}

#hobbie2 {
  animation: tilt_hobbie_icon 3s ease-in-out infinite;
  animation-delay: 1.5s;
  transform: rotate(-7.5deg);
}

#hobbie3 {
  animation: tilt_hobbie_icon 3s ease-in-out infinite;
  animation-delay: 2.5s;
  transform: rotate(-7.5deg);
}

@keyframes tilt_hobbie_icon {
  from {
    transform: rotate(-7.5deg);
  }
  50% {
    transform: rotate(7.5deg);
  }
  to {
    transform: rotate(-7.5deg);
  }
}

@media (max-width: 1024px) {
  #homeContainer {
    flex-direction: column-reverse;
    margin: 0 auto;
    justify-content: flex-start;
  }

  #image {
    width: 200px !important;
    height: 200px !important;
  }
}
