#home_page {
    color: whitesmoke;
}

.page_container {
    height: 100vh;
    padding: 8vh 12vh;
    font-family: Roboto;
}

.page_container_no_limit {
    min-height: 100vh;
    padding: 8vh 4rem;
    font-family: Roboto;
}

#sticky_icon {
    position: sticky;
    z-index: 998;
    top: 84%;
}

#wpp_btn {
    position: absolute;
    top: 4vh;
    right: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 8vh;
    height: 8vh;
    background-color: #39d855;
    color: white;

    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    animation: wpp_btn_appear 200ms;

    a {
        color: white;
        animation: shake_icon 3s ease-in-out;
        animation-iteration-count: infinite;
    }
}

@keyframes wpp_btn_appear {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes shake_icon {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 1200px) {
    .page_container {
        min-height: 100vh !important;
        height: auto !important;
        padding: 8vh 4vw !important;
    }

    #cards_row {
        grid-template-columns: 1fr !important;
    }

    .card_study {
        height: 16rem !important;
        width: 16rem !important;
    }

    .year_info {
        grid-template-columns: 2fr !important;
    }

    .square {
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
}

@media (max-width: 900px) {
    .title_row {
        font-size: 2rem !important;
    }

    #row_container_1 {
        flex-direction: column-reverse;
        padding: 1rem !important;

        #name_container {
            padding-top: 4vh;
        }

        #my_photo {
            display: flex;
            justify-content: center;
        }
    }

    #row_container_3 {
        padding: 0 !important;
    }

    .exp_year {
        justify-content: center !important;
    }

    .year_text {
        display: none !important;
    }

    #cards_row {
        width: 90% !important;
    }

    .year_info {
        grid-template-columns: 1fr !important;
    }

    #studies_container {
        display: grid !important;
        grid-template-columns: 1fr;
        margin: 4vw auto !important;
        gap: 4vw !important;
    }
}
