@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap");

#home_container_3 {
    background: var(--color3);
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    #row_container_3 {
        height: 100%;
        // align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 12vh;
    }

    .title_row {
        font-weight: bold;
        font-size: 4rem;
        margin-top: 4vh;
    }

    #studies {
        font-weight: bold;
        font-size: 6vh;
        margin-top: 16vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4vh;
    
        h5{
            font-size: 4vh;
        }
    }

    #studies_container{
        display: flex;
        justify-content: center;
        gap: 16vh;
        margin: 8vh 0;
    }

    #wrap {
        background-color: black;
        width: 8px;
        // height: 1000px;
    }

    #exp_container {
        display: grid;
        grid-template-columns: 1fr 23fr;
        gap: 1vh;
        margin-top: 4vh;

        .exp_year:first-child{
            margin: 4vh 0 2vh;
        }

        .exp_year {
            margin: 8vh 0 2vh;
            display: flex;
            align-items: center;
            // grid-template-columns: 1fr 11fr;
            gap: 2rem;

            h5 {
                font-weight: bold;
                font-size: 22px;
            }

            .year_info {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr ;
                width: 90%;
                gap: 4vh;
                // height: 100px;
            }
        }
    }
}

.card_exp {
    background-color: var(--color3);
    color: black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 8px;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 3vh 1vh;
    transition: 200ms ease-in-out;
    position: relative;
    // z-index: 1 !important;
    
    #card_title {
        padding: 1vh 0 2vh;
        font-size: 4vh;
        font-weight: bold;
    }

    .date-row {
        display: flex;
        justify-content: space-around;

        .date-info {
            display: flex;
            gap: 1vh;

            .date-number {
                font-size: 2vh;
            }
        }
    }

    .card_row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 4px 0;
    }

    .row_title {
        font-weight: bold;
        font-size: 2.1vh;
    }

    .local_row{
        display: flex;
        gap: 1vh;
        justify-content: center;
        align-items: center;
    }
}

.card_study {
    color: black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 4vh 2vh;
    transition: 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 24rem;
    width: 24rem;

    #card_title {
        padding: 1vh 0 2vh;
        font-size: 4vh;
        font-weight: bold;
    }

    .date-row {
        display: flex;
        gap: 4vh;

        .date-info {
            display: flex;
            gap: 1vh;

            .date-desc {
                font-weight: bold;
                font-size: 2.1vh;
            }

            .date-number {
                font-size: 2vh;
            }
        }
    }

    .card_row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 4px 0;
    }
}

.card_exp:hover,
.card_study:hover{
    transform: scale(1.1);
    background-color: var(--color6);
}

#icon1{
    animation: tilt_icon 3s infinite ease-in-out;
}

#icon2{
    animation: tilt_icon 3s infinite ease-in-out;
    transform: rotate(-15deg);
    animation-delay: 1s;
}

@keyframes tilt_icon{
    from{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    to {
        transform: rotate(-15deg);
    }
}